form {
  padding: 20px;
}

.form-field {
  display: flex;
  margin: 20px;
}

.form-label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

.form-input {
  width: 100%;
}

.form-input input {
  width: 100%;
}

.form-input select {
  width: 100%;
}

.form-button {
  text-align: right;
}

.form-button button {
  margin: 15px;
  background: white;
  border: 1px solid black;
  cursor: pointer;
}

.entries table {
  border-collapse: collapse;
  
}

.entries table, td, th {
  border: 1px solid;
}

.entries thead {
  text-align: left;
}